<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <!-- 看到client，就表明是客户端设置 -->
    <client>
      <!-- 定义访问时的终节点，name也是随意取的，注意address是Server端发布时指定的baseAddress+endpoint的address，binding也要对应，contract就更不用说了，由于之前把IData.cs拷过来的时候没有修改命名空间，所以还是Server.IData -->
      <endpoint name="DataService" address="http://localhost:8080/wcf" binding="basicHttpBinding" contract="Server.IData"/>
    </client>
  </system.serviceModel>
</configuration>