<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
       <!--此处调整了binding为wsHttpBinding--> 
      <endpoint name="httpDataService" address="http://localhost:8080/wcf" binding="wsDualHttpBinding" contract="Server.IData" />
       <!--此处新增了一个endpoint，指定使用netTcpBinding方式--> 
      <endpoint name="tcpDataService" address="net.tcp://localhost:8081/wcf" binding="netTcpBinding" contract="Server.IData" />
    </client>
  </system.serviceModel>
</configuration>